{#
# @license 3-clause BSD
# @link https://github.com/QuestionKey/QuestionKey-Core
#}

{% extends 'QuestionKeyBundle::base.html.twig' %}

{% block title %}Stacktrace on Node {{ node.titleAdmin }} on Version {{ treeVersion.titleAdmin }} of {{  tree.titleAdmin }} | Admin{%  endblock %}

{% block main %}

  <ol class="breadcrumb">
    <li><a href="{{ path('questionkey_admin') }}">Admin</a></li>
    <li><a href="{{ path('questionkey_admin_tree_show', {'treeId':tree.publicId }) }}">Tree: {{ tree.titleAdmin}}</a></li>
    <li><a href="{{ path('questionkey_admin_tree_version_show', {'treeId':tree.publicId,'versionId':treeVersion.publicId }) }}">Version: {{ treeVersion.titleAdmin}}</a></li>
    <li><a href="{{ path('questionkey_admin_tree_version_node_show', {'treeId':tree.publicId,'versionId':treeVersion.publicId,'nodeId':node.publicId }) }}">Node: {{ node.titleAdmin }}</a></li>
    <li class="active">Stacktrace</li>
  </ol>

  {% for stackTrace in stackTraces %}
    <h2>Stack Trace</h2>

    {% for data in stackTrace.data %}

      <div class="well node">

       <p>Public ID: {{ data.node.publicId }}</p>

       <p>Title: {{ data.node.title }}</p>

       {% if data.node.bodyText %}
        <p>Body Text: {{ data.node.bodyText }}</p>
       {% endif %}

       {% if data.node.bodyHTML %}
        <p>Body HTML: {{ data.node.bodyHTML }}</p>
       {% endif %}

            <div style="text-align: right; padding: 10px 0;" class="showAllNodeOptionsWrapper">
                <a href="#" onclick="ShowAllOptionsForNode('{{  data.node.publicId }}', $(this).parents('.node'), {% if data.nodeOption %}'{{ data.nodeOption.publicId }}'{% else %}null{%  endif %}); return false;" class="btn-xs btn-default">Show all node options</a>
            </div>

            <div class="nodeOptionsWrapper">
                {% if data.nodeOption %}
                    <div class="panel panel-default">
                        <div class="panel-body">

                        <p>Public ID: {{ data.nodeOption.publicId }}</p>

                        <p>Title: {{ data.nodeOption.title }}</p>

                        {% if  data.nodeOption.bodyText %}
                            <p>Body Text: {{ data.nodeOption.bodyText }}</p>
                        {% endif %}

                        {% if data.nodeOption.bodyHTML  %}
                            <p>Body HTML: {{ data.nodeOption.bodyHTML }}</p>
                        {% endif %}

                        </div>
                    </div>
                {% endif %}
            </div>

            <div class="pull-right">
                <a href="{{ path('questionkey_admin_tree_version_node_show', {'treeId':tree.publicId,'versionId':treeVersion.publicId,'nodeId':data.node.publicId }) }}" class="btn btn-default">View Node</a>
            </div>
            <div class="clearfix"></div>

     </div>



    {% endfor %}

  {% else %}
    <p>No Stack Traces found</p>
  {% endfor %}


{% endblock %}


{% block javascript %}
    <script>
        var thisPage = { 'tree': { 'id': {{ tree.publicId }} }, 'treeVersion':{ 'id': {{  treeVersion.publicId }} }, 'node': { 'id':{{  node.publicId }} } };
    </script>
    {% javascripts '@QuestionKeyBundle/Resources/public/js/nodeStacktrace.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
