{#
# @license 3-clause BSD
# @link https://github.com/QuestionKey/QuestionKey-Core
#}

{% extends 'QuestionKeyBundle::base.html.twig' %}

{% block title %}Edit Node {{ node.titleAdmin }} on Version {{ treeVersion.titleAdmin }} of {{  tree.titleAdmin }} | Admin{%  endblock %}

{% block main %}

    <ol class="breadcrumb">
        <li><a href="{{ path('questionkey_admin') }}">Admin</a></li>
        <li><a href="{{ path('questionkey_admin_tree_show', {'treeId':tree.publicId }) }}">Tree: {{ tree.titleAdmin}}</a></li>
        <li><a href="{{ path('questionkey_admin_tree_version_show', {'treeId':tree.publicId,'versionId':treeVersion.publicId }) }}">Version: {{ treeVersion.titleAdmin}}</a></li>
        <li><a href="{{ path('questionkey_admin_tree_version_node_show', {'treeId':tree.publicId,'versionId':treeVersion.publicId,'nodeId':node.publicId }) }}">Node: {{ node.titleAdmin }}</a></li>
        <li class="active">Stats</li>
    </ol>

    <section class="">
        <div class="panel panel-default">
            <div class="panel-body">
                <form>
                    From <input type="text" name="from" value="{{  dateRange.from|date('c') }}">
                    To <input type="text" name="to" value="{{  dateRange.to|date('c') }}">
                    <input type="submit" value="Search">
                </form>
            </div>
        </div>

        <table class="table">
            <tr>
                <th>Times Ran (Including Node)</th><td>{{  countTimesRanIncludedNode }}</td>
            </tr>
            <tr>
                <th>Times Ran (This Version) </th><td>{{  countTimesRanForTreeVersion }}</td>
            </tr>
            <tr>
                <th>Times Ran (All Versions)</th><td>{{  countTimesRanForTree }}</td>
            </tr>
        </table>

    </section>

{% endblock %}
