{#
# @license 3-clause BSD
# @link https://github.com/QuestionKey/QuestionKey-Core
#}

{% extends 'QuestionKeyBundle::base.html.twig' %}

{% block main %}

  <ol class="breadcrumb">
    <li><a href="{{ path('questionkey_admin') }}">Admin</a></li>
    <li class="active">Tree: {{ tree.titleAdmin}}</li>
  </ol>

  <p>Tree {{ tree.titleAdmin }}</p>

  <p>Public ID: {{ tree.publicId }}</p>

    <ul class="list-group">
        <li class="list-group-item"><a href="{{ path('questionkey_admin_tree_version_list', { 'treeId':tree.id }) }}" class="btn btn-default">Versions</a></li>
        {% if publishedTreeVersion %}
            <li class="list-group-item"><a href="{{ path('questionkey_admin_tree_version_show', {'treeId':tree.id ,'versionId':publishedTreeVersion.id }) }}" class="btn btn-default">View Published Version</a></li>
        {% endif %}
        {% if latestTreeVersion %}
            <li class="list-group-item"><a href="{{ path('questionkey_admin_tree_version_show', {'treeId':tree.id ,'versionId':latestTreeVersion.id }) }}" class="btn btn-default">View Latest Version</a></li>
        {% endif %}
        <li class="list-group-item"><a href="{{ path('questionkey_admin_tree_version_published_list', { 'treeId':tree.id }) }}" class="btn btn-default">Versions Published</a></li>
        <li class="list-group-item"><a href="{{ path('questionkey_admin_tree_edit', { 'treeId':tree.id }) }}" class="btn btn-warning">Edit</a></li>
    </ul>


{% endblock %}
