{#
# @license 3-clause BSD
# @link https://github.com/QuestionKey/QuestionKey-Core
#}

{% extends 'QuestionKeyBundle::base.html.twig' %}

{% block title %}Stats for {{  tree.titleAdmin }} | Admin{%  endblock %}

{% block main %}

    <ol class="breadcrumb">
        <li><a href="{{ path('questionkey_admin') }}">Admin</a></li>
        <li><a href="{{ path('questionkey_admin_tree_show', {'treeId':tree.publicId }) }}">Tree: {{ tree.titleAdmin}}</a></li>
        <li class="active">Stats</li>
    </ol>


    <section class="">
        <div class="panel panel-default">
            <div class="panel-body">
                <form>
                    From <input type="text" name="from" value="{{  dateRange.from|date('c') }}">
                    To <input type="text" name="to" value="{{  dateRange.to|date('c') }}">
                    <input type="submit" value="Search">
                </form>
            </div>
        </div>

        <table class="table">
            <tr>
                <th>Times Ran</th><td>{{  countTimesRan }}</td>
            </tr>
        </table>

    </section>

{% endblock %}
