{#
# @license 3-clause BSD
# @link https://github.com/QuestionKey/QuestionKey-Core
#}
{% extends 'QuestionKeyBundle::base.html.twig' %}

{% block main %}


  <ol class="breadcrumb">
    <li><a href="{{ path('questionkey_admin') }}">Admin</a></li>
    <li><a href="{{ path('questionkey_admin_tree_show', {'treeId':tree.id }) }}">Tree: {{ tree.titleAdmin}}</a></li>
    <li><a href="{{ path('questionkey_admin_tree_version_show', {'treeId':tree.id,'versionId':treeVersion.id }) }}">Version: {{ treeVersion.titleAdmin}}</a></li>
    <li><a href="{{ path('questionkey_admin_tree_version_node_show', {'treeId':tree.id,'versionId':treeVersion.id,'nodeId':node.id }) }}">Node: {{ node.title }}</a></li>
    <li class="active">Node Option: {{ nodeOption.title }}</li>
  </ol>

  <p>Node option title: {{ nodeOption.title }}</p>
  <p>Body Text: {{ nodeOption.bodyText }}</p>
  <p>Body HTML: {{ nodeOption.bodyHTML }}</p>
  <p>Sort: {{ nodeOption.sort }}</p>
  <p>Source: {{ nodeOption.node.title }}</p>
  <p>Destination: {{ nodeOption.destinationNode.title }}</p>



  <ul class="list-group">
    <li class="list-group-item"><a href="{{ path('questionkey_admin_tree_version_node_show', {'treeId':tree.id ,'versionId':treeVersion.id,'nodeId':nodeOption.node.id }) }}" class="btn btn-default">View Source Node</a></li>
    <li class="list-group-item"><a href="{{ path('questionkey_admin_tree_version_node_show', {'treeId':tree.id ,'versionId':treeVersion.id,'nodeId':nodeOption.destinationNode.id }) }}" class="btn btn-default">View Destination Node</a></li>
    <li class="list-group-item"><a href="{{ path('questionkey_admin_tree_version_node_option_edit', {'treeId':tree.id ,'versionId':treeVersion.id,'nodeId':node.id,'optionId': nodeOption.id }) }}" class="btn btn-warning">Edit</a></li>
    <li class="list-group-item"><a href="{{ path('questionkey_admin_tree_version_node_option_delete', {'treeId':tree.id ,'versionId':treeVersion.id,'nodeId':node.id,'optionId': nodeOption.id }) }}" class="btn btn-danger">DELETE</a></li>
  </ul>

{% endblock %}
