{#
# @license 3-clause BSD
# @link https://github.com/QuestionKey/QuestionKey-Core
#}
{% extends 'QuestionKeyBundle::base.html.twig' %}

{% block title %}Option {{  nodeOption.title }} on Node {{ node.titleAdmin }} on Version {{ treeVersion.titleAdmin }} of {{  tree.titleAdmin }} | Admin{%  endblock %}

{% block main %}


  <ol class="breadcrumb">
    <li><a href="{{ path('questionkey_admin') }}">Admin</a></li>
    <li><a href="{{ path('questionkey_admin_tree_show', {'treeId':tree.publicId }) }}">Tree: {{ tree.titleAdmin}}</a></li>
    <li><a href="{{ path('questionkey_admin_tree_version_show', {'treeId':tree.publicId,'versionId':treeVersion.publicId }) }}">Version: {{ treeVersion.titleAdmin}}</a></li>
    <li><a href="{{ path('questionkey_admin_tree_version_node_show', {'treeId':tree.publicId,'versionId':treeVersion.publicId,'nodeId':node.publicId }) }}">Node: {{ node.titleAdmin }}</a></li>
    <li class="active">Node Option: {{ nodeOption.title }}</li>
  </ol>

  <p>Node option title: {{ nodeOption.title }}</p>
  <p>Body Text: {{ nodeOption.bodyText | nl2br }}</p>
  <p>Body HTML: {{ nodeOption.bodyHTML | nl2br }}</p>
  <p>Sort: {{ nodeOption.sort }}</p>
  <p>Source: {{ nodeOption.node.title }}</p>
  <p>Destination: {{ nodeOption.destinationNode.title }}</p>


    {%  if variableActions %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Action</th>
                <th>Value</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for variableAction in variableActions %}
                <tr>
                    <td>{{ variableAction.variable.name }}</td>
                    <td>{{ variableAction.variable.type }}</td>
                    <td>{{ variableAction.action }}</td>
                    <td>{{ variableAction.value }}</td>
                    <td class="action-link"></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {%  endif %}

    <ul class="list-group">
        <li class="list-group-item"><a href="{{ path('questionkey_admin_tree_version_node_show', {'treeId':tree.publicId ,'versionId':treeVersion.publicId,'nodeId':nodeOption.node.publicId }) }}" class="btn btn-default">View Source Node</a></li>
        <li class="list-group-item"><a href="{{ path('questionkey_admin_tree_version_node_show', {'treeId':tree.publicId ,'versionId':treeVersion.publicId,'nodeId':nodeOption.destinationNode.publicId }) }}" class="btn btn-default">View Destination Node</a></li>
        {% if isTreeVersionEditable %}
            <li class="list-group-item"><a href="{{ path('questionkey_admin_tree_version_node_option_edit', {'treeId':tree.publicId ,'versionId':treeVersion.publicId,'nodeId':node.publicId,'optionId': nodeOption.publicId }) }}" class="btn btn-warning">Edit</a></li>
            <li class="list-group-item"><a href="{{ path('questionkey_admin_tree_version_node_option_delete', {'treeId':tree.publicId ,'versionId':treeVersion.publicId,'nodeId':node.publicId,'optionId': nodeOption.publicId }) }}" class="btn btn-danger">DELETE</a></li>
            {%  if treeVersion.featureVariables %}
                <li class="list-group-item"><a href="{{ path('questionkey_admin_tree_version_node_option_variable_action_new', {'treeId':tree.publicId ,'versionId':treeVersion.publicId,'nodeId':node.publicId,'optionId': nodeOption.publicId }) }}" class="btn btn-warning">New Variable Action</a></li>
            {%  endif %}
        {% endif %}
    </ul>

{% endblock %}
