{#
# @license 3-clause BSD
# @link https://github.com/QuestionKey/QuestionKey-Core
#}

{% extends 'QuestionKeyBundle::base.html.twig' %}

{% block title %}Add Library Content to {{ node.titleAdmin }} on Version {{ treeVersion.titleAdmin }} of {{  tree.titleAdmin }} | Admin{%  endblock %}

{% block main %}

  <ol class="breadcrumb">
    <li><a href="{{ path('questionkey_admin') }}">Admin</a></li>
    <li><a href="{{ path('questionkey_admin_tree_show', {'treeId':tree.id }) }}">Tree: {{ tree.titleAdmin}}</a></li>
    <li><a href="{{ path('questionkey_admin_tree_version_show', {'treeId':tree.id,'versionId':treeVersion.id }) }}">Version: {{ treeVersion.titleAdmin}}</a></li>
    <li><a href="{{ path('questionkey_admin_tree_version_node_show', {'treeId':tree.id,'versionId':treeVersion.id,'nodeId':node.id }) }}">Node: {{ node.titleAdmin }}</a></li>
    <li class="active">Add Library Content</li>
  </ol>

  {% if libraryContents %}
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Title</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      {% for libraryContent in libraryContents %}
        <tr>
          <td>{{ libraryContent.titleAdmin }}</td>
          <td class="action-link">
            <form method="post" action="#">
              <input type="hidden" name="action" value="add">
              <input type="hidden" name="contentId" value="{{  libraryContent.publicId }}">
              <input type="submit" value="Add">
            </form>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>No content</p>
  {% endif %}

{% endblock %}
