{#
# @license 3-clause BSD
# @link https://github.com/QuestionKey/QuestionKey-Core
#}

{% extends 'QuestionKeyBundle::base.html.twig' %}

{% block title %}Content {{ libraryContent.titleAdmin }} on Version {{ treeVersion.titleAdmin }} of {{  tree.titleAdmin }} | Admin{%  endblock %}

{% block main %}

    <ol class="breadcrumb">
        <li><a href="{{ path('questionkey_admin') }}">Admin</a></li>
        <li><a href="{{ path('questionkey_admin_tree_show', {'treeId':tree.id }) }}">Tree: {{ tree.titleAdmin}}</a></li>
        <li><a href="{{ path('questionkey_admin_tree_version_show', {'treeId':tree.id,'versionId':treeVersion.id }) }}">Version: {{ treeVersion.titleAdmin}}</a></li>
        <li class="active">Content: {{ libraryContent.titleAdmin }}</li>
    </ol>

    <p>Body Text: {{ libraryContent.bodyText | nl2br }}</p>

    <p>Body HTML: {{ libraryContent.bodyHTML | nl2br }}</p>



    <ul class="list-group">
        {% if isTreeVersionEditable %}
            <li class="list-group-item"><a href="{{ path('questionkey_admin_tree_version_library_content_edit', { 'treeId':tree.id,'versionId':treeVersion.id,'contentId':libraryContent.publicId }) }}" class="btn btn-warning">Edit</a></li>
        {% endif %}
    </ul>

{% endblock %}
