{#
# @license 3-clause BSD
# @link https://github.com/QuestionKey/QuestionKey-Core
#}

{% extends 'QuestionKeyBundle::base.html.twig' %}


{% block title %}New Node on Version {{ treeVersion.titleAdmin }} of {{  tree.titleAdmin }} | Admin{%  endblock %}

{% block main %}

    <ol class="breadcrumb">
      <li><a href="{{ path('questionkey_admin') }}">Admin</a></li>
      <li><a href="{{ path('questionkey_admin_tree_show', {'treeId':tree.publicId }) }}">Tree: {{ tree.titleAdmin}}</a></li>
      <li><a href="{{ path('questionkey_admin_tree_version_show', {'treeId':tree.publicId,'versionId':treeVersion.publicId }) }}">Version: {{ treeVersion.titleAdmin}}</a></li>
      <li class="active">New Variable</li>
    </ol>

    <section class="">
    		<form class="styled" action="" method="post" {{ form_enctype(form) }}>

    			{{ form_errors(form) }}

    			{{ form_rest(form) }}

    			<input type="submit" value="Create New Variable" />

                <div class="cancel"><a href="{{ path('questionkey_admin_tree_version_show', {'treeId':tree.publicId,'versionId':treeVersion.publicId }) }}">Cancel</a></div>
    		</form>

    	</section>

{% endblock %}
