{#
# @license 3-clause BSD
# @link https://github.com/QuestionKey/QuestionKey-Core
#}

{% extends 'QuestionKeyBundle::baseGraph.html.twig' %}

{% block title %}Visulisation for Version {{ treeVersion.titleAdmin }} of {{  tree.titleAdmin }} | Admin{%  endblock %}

{% block main %}


    <div id="toolbox">
        <a id="toolboxInfoLink" href="#" target="_blank">INFO</a>
        <a href="#" onclick="graph.save(); return false;">SAVE LAYOUT</a>
        <a href="{{ path('questionkey_admin_tree_version_show', {'treeId':tree.publicId,'versionId':treeVersion.publicId }) }}">EXIT</a>
    </div>

{% endblock %}

{% block javascript %}
    {% javascripts
    '@QuestionKeyBundle/Resources/public/js/graph.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script>
        $( document ).ready(function() {
            graph.consts.saveCurrentURL = '{{ path('questionkey_admin_tree_version_graph_savecurrent', {'treeId':tree.publicId,'versionId':treeVersion.publicId }) }}';
            $.ajax({
                url: "{{ path('questionkey_admin_tree_version_data_json', {'treeId':tree.publicId,'versionId':treeVersion.publicId }) }}",
                context: document.body,
                success: function(data) {
                    graph.start(data, {{  data | json_encode()|raw }});
                }
            });
        });
    </script>
{% endblock %}
