{#
# @license 3-clause BSD
# @link https://github.com/QuestionKey/QuestionKey-Core
#}

{% extends 'QuestionKeyBundle::base.html.twig' %}


{% block title %}Ending Nodes on Version {{ treeVersion.titleAdmin }} of {{  tree.titleAdmin }} | Admin{%  endblock %}

{% block main %}

    <ol class="breadcrumb">
        <li><a href="{{ path('questionkey_admin') }}">Admin</a></li>
        <li><a href="{{ path('questionkey_admin_tree_show', {'treeId':tree.publicId }) }}">Tree: {{ tree.titleAdmin}}</a></li>
        <li><a href="{{ path('questionkey_admin_tree_version_show', {'treeId':tree.publicId,'versionId':treeVersion.publicId }) }}">Version: {{ treeVersion.titleAdmin}}</a></li>
        <li class="active">End Nodes</li>
    </ol>

    {% if nodes %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Title (Admin)</th>
                    <th>Title</th>
                    <th>Body HTML</th>
                    <th>Body Text</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for node in nodes %}
                    <tr>
                        <td>{{ node.titleAdmin }}</td>
                        <td>{{ node.title }}</td>
                        <td>{{ node.bodyHTML }}</td>
                        <td>{{ node.bodyText }}</td>
                        <td class="action-link"><a href="{{ path('questionkey_admin_tree_version_node_show', {'treeId':tree.publicId ,'versionId':treeVersion.publicId,'nodeId':node.publicId }) }}" class="btn btn-default">View</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No nodes</p>
    {% endif %}

    <ul class="list-group">
        {% if isTreeVersionEditable %}
            <li class="list-group-item"><a href="{{ path('questionkey_admin_tree_version_node_new', { 'treeId':tree.publicId,'versionId':treeVersion.publicId }) }}" class="btn btn-warning">New Node</a></li>
        {% else %}
            <li class="list-group-item"><em>This tree version can not be edited as it has been published.</em></li>
        {% endif %}
    </ul>

{% endblock %}
