{#
# @license 3-clause BSD
# @link https://github.com/QuestionKey/QuestionKey-Core
#}

{% extends 'QuestionKeyBundle::base.html.twig' %}

{% block main %}

    <ol class="breadcrumb">
        <li><a href="{{ path('questionkey_admin') }}">Admin</a></li>
        <li><a href="{{ path('questionkey_admin_tree_show', {'treeId':tree.id }) }}">Tree: {{ tree.titleAdmin}}</a></li>
        <li><a href="{{ path('questionkey_admin_tree_version_show', {'treeId':tree.id,'versionId':treeVersion.id }) }}">Version: {{ treeVersion.titleAdmin}}</a></li>
        <li class="active">Run Tree</li>
    </ol>

    <div id="DemoHere">Loading ...</div>

{% endblock %}

{% block javascript %}
    {% javascripts '@QuestionKeyBundle/Resources/public/js/external/normal-jquery-v1.js'  %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script>
        var tree;
        $( document ).ready(function() {

            $.ajax({
                url: "{{ path('questionkey_admin_tree_version_data_json', {'treeId':tree.id,'versionId':treeVersion.id }) }}",
                context: document.body,
                success: function(data) {
                    tree = new QuestionKeyNormalTree("#DemoHere", {'treeData':data, 'logUserActions':false, 'browserHistoryRewrite':true });
                    tree.start();
                }
            });

            window.onpopstate = function(event) {
                tree.onWindownPopState(event);
            };
        });
    </script>
{% endblock %}
