{#
# @license 3-clause BSD
# @link https://github.com/QuestionKey/QuestionKey-Core
#}

{% extends 'QuestionKeyBundle::base.html.twig' %}

{% block main %}

    <ol class="breadcrumb">
        <li><a href="{{ path('questionkey_admin') }}">Admin</a></li>
        <li><a href="{{ path('questionkey_admin_tree_show', {'treeId':tree.id }) }}">Tree: {{ tree.titleAdmin}}</a></li>
        <li><a href="{{ path('questionkey_admin_tree_version_show', {'treeId':tree.id,'versionId':treeVersion.id }) }}">Version: {{ treeVersion.titleAdmin}}</a></li>
        <li class="active">Run Tree</li>
    </ol>

    <div class="well">

        <p>Public ID: {{ node.publicId }}</p>

        <p>Title: {{ node.title }}</p>

        <p>Body Text: {{ node.bodyText | nl2br }}</p>

        <p>Body HTML: {{ node.bodyHTML | nl2br }}</p>

        <a href="{{ path('questionkey_admin_tree_version_node_show', {'treeId':tree.id ,'versionId':treeVersion.id,'nodeId':node.id }) }}" class="btn btn-default">View this node in Admin</a>
    </div>

    {% if nodeOptions %}
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Outgoing Title</th>
            <th>Body Text</th>
            <th>Body HTML</th>
            <th>Destination</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for nodeOption in nodeOptions %}
            <tr>
              <td>{{ nodeOption.title }}</td>
              <td>{{ nodeOption.bodyText }}</td>
              <td>{{ nodeOption.bodyHTML }}</td>
              <td class="action-link">

                <form method="get" action="">
                    <input type="hidden" name="node_id" value="{{ nodeOption.destinationNode.id }}">
                    <input type="submit" class="btn btn-default" value="Follow This option">
                </form>

              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p>No outgoing node options</p>
    {% endif %}


{% endblock %}
