{#
# @license 3-clause BSD
# @link https://github.com/QuestionKey/QuestionKey-Core
#}
{% extends 'QuestionKeyBundle::base.html.twig' %}

{% block title %}Visitor Sessions | Admin{%  endblock %}

{% block main %}

  <ol class="breadcrumb">
    <li><a href="{{ path('questionkey_admin') }}">Admin</a></li>
    <li class="active">Visitor Sessions</li>
  </ol>

	<div class="panel panel-default">
		<div class="panel-body">
			<form>
				From <input type="text" name="from" value="{{  dateRange.from|date('c') }}">
				To <input type="text" name="to" value="{{  dateRange.to|date('c') }}">
				<input type="submit" value="Search">
			</form>
		</div>
	</div>


	{% if sessions %}
		<table class="table table-striped">
			<thead>
				<tr>
					<th>ID</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{% for session in sessions %}
					<tr>
						<td>{{ session.id }}</td>
						<td class="action-link"><a href="{{ path('questionkey_admin_visitor_session_show', {'sessionId':session.id }) }}" class="btn btn-default">View</a></td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% else %}
		<p>No Sessions</p>
	{% endif %}

{% endblock %}
